body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae5e5;
}

.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    background-color: #c197ae;
}

.navbar-brand, .nav-link{
    font-size: 2em;
}

.home_banner{
    background-color: white;
    border-radius: 1rem;
}

.personal_text h6{
    color: #515151;
}

.personal_text h3{
    font-size: 3em;
    font-weight: 700;
}

.personal_text h4{
    font-weight: 600;
    font-size: 1em;
}

.small_logo{
    width: 1.5rem;
    height: 1.5rem;
}

.basic_info p{
    font-size: 1.25em;
}

.skills{
    background-color: white;
    border-radius: 1rem;
}

.fa img{
    width: 2rem;
    height: 2rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
footer{
    background-color: #c197ad;
}

.about_me{
      -webkit-text-fill-color: #e5c5d5;
      font-weight: 700;
}

.sl__img{
      width: 10rem;
      height: 10rem;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.submit{
      background-color: #c197ad;
      color: #e5c5d5;
}
